a:hover {
  cursor: pointer;
}

#player-info select {
  margin: 2rem 0;
}

#player-info nav {
  margin: 2rem 0;
}

img.faction {
   height: 25px;
   width: auto;
   padding-right: 5px;
   padding-left: 5px;
}

#edit-week-button {
  margin-bottom: 1em;
}
