<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Bodger Bowl Admin</title>
    <script src="/bower_components/zepto/zepto.min.js"></script>
    <script src="http://fb.me/react-0.11.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.11.2.js"></script>
  </head>
  <body>
  	<form action="/admin/" method="post">
  		Season Name: <input type="text" name="name" /> <br />
  		Season Year: <input type="text" name="year" /> <br />
  		Conference Count: <input type="number" name="conferences" /> <br />
  		Division Count: <input type="number" name="divisions" /> <br />
  		Players CSV: <textarea name="players" ></textarea> <br />
  		<button type="submit">Submit</button>
  	</form>
  </body>
</html>
