<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Bodger Bowl Admin</title>
    <script src="/js/zepto.js"></script>
    <script src="http://fb.me/react-0.11.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.11.2.js"></script>
    <script src="/js/reflux.js"></script>
    <script type="text/jsx" src="/js/season_components.js"></script>
    <script src="/js/season_store.js"></script>
  </head>
  <body>
    <a href="/admin">Back</a>
    <div id="seasonSchedule" />
    <script type="text/jsx" src="/js/season_admin.js"></script>
  </body>
</html>
