<!DOCTYPE html>
<html xml:lang="en">
  <head>
    <title>Bodger Bowl Admin</title>
  </head>
  <body>
    <form action="/admin/" method="post">
      Season Name: <input type="text" name="name" /> <br />
      Season Year: <input type="text" name="year" /> <br />
      Conference Count: <input type="number" name="conferences" /> <br />
      Division Count: <input type="number" name="divisions" /> <br />
      Players CSV: <textarea name="players" ></textarea> <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
