{{define "title"}}Bodger Bowl Admin{{end}}
{{define "body"}}
    <div id="season-schedule" data-admin="true" />
{{end}}
{{define "includes"}}
    <script src="/js/actions.js"></script>
    <script src="/js/season_store.js"></script>
    <script src="/js/view_store.js"></script>
    <script type="text/jsx" src="/js/season_components.js"></script>
    <script type="text/jsx" src="/js/conference_components.js"></script>
    <script type="text/jsx" src="/js/player_editing_components.js"></script>
    <script type="text/jsx" src="/js/season_data_rendering.js"></script>
{{end}}
