<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{template "title" .}}</title>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/core.css">
    <!-- Template libraries-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- React and Reflux -->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/react.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.2/JSXTransformer.js"></script>
    <script src="/bower_components/reflux/dist/reflux.js"></script>
    <!-- React-Bootstrap-->
    <script type="text/jsx" src="/bower_components/react-bootstrap/react-bootstrap.min.js"></script>
    <script type="text/jsx" src="/js/bootstrap_shortcuts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/js/actions.js"></script>
    <script src="/js/season_store.js"></script>
    <script src="/js/view_store.js"></script>
    <!-- jsx libraries -->
    <script type="text/jsx" src="/js/season_components.js"></script>
    <script type="text/jsx" src="/js/conference_components.js"></script>
    <script type="text/jsx" src="/js/player_editing_components.js"></script>
    <script type="text/jsx" src="/js/season_data_rendering.js"></script>
    <script type="text/jsx" src="/js/admin_home.js"></script>
  </head>
  <body>
    {{template "body" .}}
  </body>
</html>
