<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>{{template "title" .}}</title>
    <!-- Style Sheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/core.css">
    <!-- Template libraries-->
    <script src="/js/cache/jquery.js"></script>
    <!-- Requirements for React -->
    <script src="/js/cache/EventEmitter.js"></script>
    <!-- React and Reflux -->
    <script src="/js/cache/react.min.js"></script>
    <script src="/js/cache/react.jsx.js"></script>
    <script src="/js/cache/reflux.min.js"></script>
    <!-- React-Bootstrap-->
    <script type="text/jsx" src="/js/cache/react-bootstrap.min.js"></script>
    <script type="text/jsx" src="/js/bootstrap_shortcuts.js"></script>
    <!-- jsx libraries -->
    {{template "includes" .}}
  </head>
  <body>
    {{template "body" .}}
  </body>
</html>
